<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Post</title>
    <%- include('../../layouts/style') %>
  </head>
  <body>
    <div class="container py-3">
      <h3>Dashboard Post</h3>
      <div class="row">
        <div class="col-md-8">
          <a href="/dashboard/post/create" class="btn btn-primary mb-1">Create Post</a>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let post of posts){ %>
              <tr>
                <td><%= post.title %></td>
                <td class="d-flex">
                  <button class="btn btn-warning text-white me-2" data-bs-toggle="modal" data-bs-target="#mahasiswa-<%= post.id %>"><i class="bi bi-pen"></i></button>
                  <form action="/dashboard/post/delete/<%= post.id %>" method="post">
                    <button class="btn btn-danger btn-delete" onclick="confirm('Yakin hapus?')"><i class="bi bi-trash"></i></button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <% for(let post of posts) { %>
    <div class="modal fade" id="mahasiswa-<%= post.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/dashboard/post/edit/<%= post.id %>" method="post">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="title-edit-<%= post.id %>" class="form-label">Title</label>
                <input required type="text" class="form-control" name="title" id="title-edit-<%= post.id %>" value="<%= post.title %>" autocomplete="off" autofocus />
              </div>
              <div class="mb-3">
                <label for="slug-edit-<%= post.id %>" class="form-label">Slug</label>
                <input required type="text" class="form-control" name="slug" id="slug-edit-<%= post.id %>" value="<%= post.slug %>" autocomplete="off" />
              </div>
              <div class="mb-3">
                <label for="author-edit-<%= post.id %>" class="form-label">Author</label>
                <input required type="text" class="form-control" name="author" id="author-edit-<%= post.id %>" value="<%= post.author %>" autocomplete="off" />
              </div>
              <div>
                <label for="body-edit-<%= post.id %>" class="form-label">Body</label>
                <textarea name="body" id="body-edit-<%= post.id %>" cols="10" rows="10" class="form-control"><%= post.body %></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>
    <!-- Modal -->

    <%- include('../../layouts/script') %>
  </body>
</html>
